@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oxygen&display=swap');
.hpWrap {
    height: 100%;
    width: 100%;
    background-image: url("./assets/embossed-diamond.png");
    overflow: auto;
    font-family: 'Oxygen', sans-serif;
}

.hpColor {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-image:-webkit-linear-gradient(90deg, rgba(15, 15, 15, 0.87), rgba(80, 66, 5, 0.856));
    background-image:(90deg, rgba(15, 15, 15, 0.87), rgba(80, 66, 5, 0.856));
    opacity: .9;
}

.homeTitle {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 50px;
    color: white;
    border-bottom: 1px solid white;
}

img {
    width: 250px;
    height: 250px;
}

.port {
    display: flex;
    width: 800px;
    text-align: center;
    justify-content: center;
    flex-wrap: row wrap;
    margin: 0 auto;
    border: 1px solid black;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.904);
    color: black;
    margin-bottom: 30px;
    box-shadow: 10px 4px 8px 4px #6959369f
}

.languages {
    margin-right: 10px;
    padding: 1px;
}

.port button {
    max-width: 40px;
    min-width: 40px;
    height: 100%;
    text-align: center;
    font-size: 30px;
}

.last {
    margin-bottom: 80px;
}

@media only screen and (max-width: 810px) {
    .homeTitle {
        width: 80vw;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-top: 50px;
        color: white;
        border-bottom: 1px solid white;
    }
    img {
        margin: 0 auto;
    }
    .port {
        display: flex;
        width: 80vw;
        text-align: center;
        justify-content: center;
        flex-flow: column;
        margin: 0 auto;
        border: 1px solid black;
        padding: 5px;
        background-color: white;
        margin-bottom: 30px;
    }
    .port button {
        max-width: 100%;
        min-width: 100%;
        text-align: center;
        font-size: 30px;
    }
    .last {
        margin-bottom: 140px;
    }
  }


