.hpWrap {
    height: 100%;
    width: 100%;
    background-image: url("./assets/embossed-diamond.png");
    overflow: auto;
}

.hpColor {
    height: 100%;
    width: 100%;
    overflow: auto;
    background-image:-webkit-linear-gradient(90deg, rgba(15, 15, 15, 0.87), rgba(22, 59, 90, 0.856));
    background-image:(90deg, rgba(15, 15, 15, 0.87), rgba(22, 59, 90, 0.856));
    opacity: .9;
}
