html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}

#root {
    height: 100%;
    width: 100%;
}

.pageWrapper {
    height: 100%;
    width: 100%;
}

.homePageWrapper {
    height: 100%;
    width: 100%;
}